shamefully-hoist=true
strict-peer-dependencies=false
optional=false
fetch-retries=5
fetch-retry-maxtimeout=1200000
fetch-timeout=1200000
supportedArchitectures.os=linux
supportedArchitectures.cpu=x64
