# Example secrets.yaml for definitely-not-crosswords local development.
# Use SOPS to encrypt this file:
#   sops secrets.yaml
#
# Once encrypted, sops-nix inside the devShell will decrypt these.

KEYCLOAK_CLIENT_SECRET: "supersecretcrosswords"
NEXTAUTH_SECRET: "supersecretsecret"
DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/postgres"
